In [7]:
import json

# Assign the string data to a variable. 
data = "{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}"

# conver the string data to a dictionary
converted_data = json.loads(data)

# iterate through the dictionary (row) and get the values
row_values = [v for k,v in converted_data.items()]
print(row_values)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [8]:
# replace single quote with double

data = data.replace ("'", '"')
print(data)

{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}

In [9]:
converted_data = json.loads(data)

# iterate through the dictionary (row) and get the values
row_values = [v for k,v in converted_data.items()]
print(row_values)

[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']

In [10]:
# find all the 4 digit numbers in our string

#import regular expresssion module
import re

# assign the string data to a variable
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr"

# Extract the four digit number.
contact_id = re.findall(r'(\d{4})', string_data)
print(contact_id)

['4661']

In [11]:
# Import the Pandas dependency.
import pandas as pd


# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv("contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [12]:
# Extract the 4 digit contact ID number

contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')
contacts_string_df

                                          contact_info contact_id
0    contact_id 4661 name Cecilia Velasco email cec...       4661
1    contact_id 3765 name Mariana Ellis email maria...       3765
2    contact_id 4187 name Sofie Woods email sofie.w...       4187
3    contact_id 4941 name Jeanette Iannotti email j...       4941
4    contact_id 2199 name Samuel Sorgatz email samu...       2199
..                                                 ...        ...
995  contact_id 3684 name Whitney Noack email whitn...       3684
996  contact_id 5784 name Gelsomina Migliaccio emai...       5784
997  contact_id 1498 name Evangelista Pereira email...       1498
998  contact_id 6073 name Gareth Comolli email gare...       6073
999  contact_id 4939 name Michelangelo Hess email m...       4939

[1000 rows x 2 columns]

In [14]:
string_data

'contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fr'

In [13]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^name\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco', 'il cecilia']

In [15]:
# Extract the first and last name after the word "name". 
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [16]:
contacts_string_df['name'] = contacts_string_df['contact_info'].str.extract(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)')
contacts_string_df

,contact_info,contact_id,name
0,contact_id 4661 name Cecilia Velasco email cec...,4661,Cecilia Velasco
1,contact_id 3765 name Mariana Ellis email maria...,3765,Mariana Ellis
2,contact_id 4187 name Sofie Woods email sofie.w...,4187,Sofie Woods
3,contact_id 4941 name Jeanette Iannotti email j...,4941,Jeanette Iannotti
4,contact_id 2199 name Samuel Sorgatz email samu...,2199,Samuel Sorgatz
...,...,...,...
995,contact_id 3684 name Whitney Noack email whitn...,3684,Whitney Noack
996,contact_id 5784 name Gelsomina Migliaccio emai...,5784,Gelsomina Migliaccio
997,contact_id 1498 name Evangelista Pereira email...,1498,Evangelista Pereira
998,contact_id 6073 name Gareth Comolli email gare...,6073,Gareth Comolli
999,contact_id 4939 name Michelangelo Hess email m...,4939,Michelangelo Hess

In [17]:
# Extract the email address using a regular expression pattern. 
email_address = re.findall(r'(\S+@\S+)', string_data)
email_address

['cecilia.velasco@rodrigues.fr']

In [18]:
contacts_string_df['email'] = contacts_string_df['contact_info'].str.extract(r'(\S+@\S+)')
contacts_string_df

,contact_info,contact_id,name,email
0,contact_id 4661 name Cecilia Velasco email cec...,4661,Cecilia Velasco,cecilia.velasco@rodrigues.fr
1,contact_id 3765 name Mariana Ellis email maria...,3765,Mariana Ellis,mariana.ellis@rossi.org
2,contact_id 4187 name Sofie Woods email sofie.w...,4187,Sofie Woods,sofie.woods@riviere.com
3,contact_id 4941 name Jeanette Iannotti email j...,4941,Jeanette Iannotti,jeanette.iannotti@yahoo.com
4,contact_id 2199 name Samuel Sorgatz email samu...,2199,Samuel Sorgatz,samuel.sorgatz@gmail.com
...,...,...,...,...
995,contact_id 3684 name Whitney Noack email whitn...,3684,Whitney Noack,whitney.noack@laboratorios.org
996,contact_id 5784 name Gelsomina Migliaccio emai...,5784,Gelsomina Migliaccio,gelsomina.migliaccio@junk.com
997,contact_id 1498 name Evangelista Pereira email...,1498,Evangelista Pereira,evangelista.pereira@thompson-peterson.biz
998,contact_id 6073 name Gareth Comolli email gare...,6073,Gareth Comolli,gareth.comolli@tiscali.fr
999,contact_id 4939 name Michelangelo Hess email m...,4939,Michelangelo Hess,michelangelo.hess@bouygtel.fr